body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #ffffff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo_img {
    width: 45px;
    height:45px;
    fill:yellow;
    margin-right: 5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li a {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05)
}

main {
    overflow-y: scroll;
    height:100vh;
}

main .features {
    float:left;
    color: #fff;
    margin:20px;
    text-align:center;
}

main .features h1 {
    font-size: 50px;

}

main .features p {
    max-width: 600px;
    margin: 20px auto;
}

.article {
    float: left;
    clear: both;
    width: 600px;
    margin: 20px;
    text-align:left;
}

form {
    margin: 20;
    width: 600px;
    margin-top: 50px;
}